/*
  This is a Temporary file, only used during the transition into the new Joplin_UI
  Once that's complete, we'll be able to...
  ... 🚨remove this file!
*/

.coa-easter-egg {
  position: absolute;
  top: 35px;
  left: 37px;
  min-width: 10px;
  min-height: 10px;
}
