@import "./variables";

.full input {
  padding: 1em;
}
.logo {
  display: none;
}

.object fieldset,
.object .field-content {
  width: 100%;
}

.translation-tab .object .object-help {
  width: auto;
  opacity: 1;
  position: static;
  font-size: 1.2em;
}
.translation-tab .object fieldset {
  padding-top: 0.5em;
}

.hidden {
  display: none !important;
}

.wrapper {
  padding-left: 60px;
  height: inherit;
}
.nav-wrapper,
.nav-wrapper .inner {
  width: 60px;
}

.nav-main {
  position: static;
  overflow: hidden;
}
.nav-main a {
  padding-left: 10px;
}
.nav-main .footer {
  display: none;
}
.nav-main .menu-item a::before {
  font-size: 2rem;
}

.listing .actions {
  visibility: visible;
}

.page-explorer header,
.homepage header,
.page-editor header {
  display: none;
}
.header {
  display: flex;
  padding: 0.75rem;
  background: $coa-color-darkest-gray;
}
.header.secondary {
  background: $coa-color-gray;
}
.header .actions {
  display: flex;
  margin: auto 0 auto auto;
}
.header .actions * {
  margin: auto 2px;
}

button.secondary {
  background-color: $coa-color-dark-gray2;
  border-color: $coa-color-dark-gray2;
}

.coa-user {
  color: $coa-color-lightest-blue;
  padding-left: 10px;
  font-size: 14px;
}

.nav-main .menu-active > a {
  border-left-color: $coa-color-lightest-blue;
  color: $coa-color-lightest-blue;
}

.icon-home:before {
  content: url('../static/images/content_index.png');
}

.icon-image:before, .icon-picture:before {
  content: url('../static/images/image-icon.png');
}

.header.secondary h1 {
  color: $coa-color-orange;
  text-transform: capitalize;
  font-style: italic;
}
