@import "./variables";
@import "./utilities/border-box-reset";

$nav-wrapper-width: 80px;
$header-height: 89px;

.full input {
  padding: 1em;
}
.logo {
  display: none;
}

.object fieldset,
.object .field-content {
  width: 100%;
}

.translation-tab .object .object-help {
  width: auto;
  opacity: 1;
  position: static;
  font-size: 1.2em;
}
.translation-tab .object fieldset {
  padding-top: 0.5em;
}

.hidden {
  display: none !important;
}

.wrapper {
  padding-top: $header-height;
  padding-left: $nav-wrapper-width;
  height: inherit;
}
.nav-wrapper,
.nav-wrapper .inner {
  width: $nav-wrapper-width;
}

.nav-main {
  position: static;
  overflow: hidden;
}
.nav-main a {
  padding-left: 10px;
}
.nav-main .footer {
  display: none;
}
.nav-main .menu-item a::before {
  font-size: 2rem;
}

.listing .actions {
  visibility: visible;
}

.page-explorer header,
.homepage header,
.page-editor header {
  display: none;
}

.header .actions {
  display: flex;
  margin: auto 0 auto auto;
}
.header .actions * {
  margin: auto 2px;
}

button.secondary {
  background-color: $coa-color-dark-gray2;
  border-color: $coa-color-dark-gray2;
}


.nav-main .menu-active > a {
  border-left-color: $coa-color-lightest-blue;
  color: $coa-color-lightest-blue;
}

// COA Global Header

.coa-header {
  display: flex;
  padding: 0.75rem 1.5rem;
  background: $coa-color-darkest-gray;
  position: fixed;
  z-index: 3;
  // left: 60px;
  width: 100%;
}

.coa-user {
  color: $coa-color-lightest-blue;
  padding-left: 10px;
  font-size: 14px;
}

// COA Secondary Header

.header.secondary {
  width: calc(100% - #{$nav-wrapper-width});
  background: $coa-color-gray;
  position: fixed;
  padding: 1rem 1.5rem;
  z-index: 3;
  h1 {
    color: $coa-color-orange;
    text-transform: capitalize;
    font-style: italic;
  }
}

// COA Global Nav (left sidebar)

.menu-active {
  .icon-home:before {
    background-image: url('../static/images/content_d1ecf1.svg');
  }

  .icon-image:before, .icon-picture:before {
    background-image: url('../static/images/image_icon_d1ecf1.svg');
  }
}

.icon-home:before {
  background-image: url('../static/images/content_cacaca.svg');
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  margin: auto auto auto 8px;
}

.icon-image:before, .icon-picture:before {
  background-image: url('../static/images/image_icon_cacaca.svg');
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  margin: auto auto auto 8px;
}