// stop the annoying uppercase: TODO: font size
// TODO: had to port these from h2 to title-wrapper for 2.6,
// maybe there is other niceness we are missing out on from the refactor
// by just hiding these

@import './css/variables';

.object .title-wrapper {
    background: inherit;
    text-transform: none;
}
.object > .title-wrapper:before,
.object > .title-wrapper label:before {
    display: none;
}
.object {
    border-bottom: 1px dashed grey !important;
}

.icon-help-inverse.show {
    display: inline;
    float: right;
    margin: 0.5rem 4rem 0 0;
}

.actions {
    margin: 0 0 0 auto;
}

.tab-nav.merged {
    display: none;
    background-color: #eee;
}

.editor__save-button {
    min-width: 145px;
}

fieldset {
    max-width: none !important;
}

label {
    width: auto !important;
}

.messages {
    position: fixed;
    top: 0px;
    width: 75%;
}

// This is because the drafttail editor goes to 30 when in focus
.header.secondary {
    z-index: 31 !important;
}

.header.coa-header {
    z-index: 32 !important;
}

.struct-block {
    .fields {
        float: none !important;
    }
}

.sequence-container.sequence-type-list {
    width: 100% !important;
}

.coa-placeholder-elm {
  color: $coa-color-dark-gray2 !important;
}
