.object h2 {
    background: inherit;
}
.object > h2:before,
.object > h2 label:before {
    display: none;
}
.object {
    border-bottom: 1px dashed grey !important;
}

.tab-nav.merged {
    background-color: #eee;
}

footer {
    display: none;
}

.object-help.help {
    opacity: 1;
    width: auto;
    float: left;
    position: relative;
    padding: 0;
}

.icon-help-inverse {
    display: none;
}

.icon-help-inverse.show {
    display: inline;
    float: right;
    margin: 0.5rem 4rem 0 0;
}

.actions {
    margin: 0 0 0 auto;
}

.tab-nav.merged {
    display: none;
}

.editor__save-button {
    min-width: 130px;
}

fieldset {
    max-width: none !important;
}

label {
    width: auto !important;
}

.messages {
    position: fixed;
    top: 0px;
    width: 75%;
}

.page-editor {
    footer {
        display: none;
    }
}
