// COLORS
$coa-color-dark-blue: #023654;
$coa-color-primary-blue: #0050D8;
$coa-color-light-blue: #3282AF;
$coa-color-lightest-blue: #D1ECF1;

$wagtail-turquoise: #43b1b0;
$wagtail-dark-turquoise: #358c8b;

$coa-color-black: #000000;
$coa-color-darkest-gray: #333;
$coa-color-dark-gray: #4A4A4A;
$coa-color-dark-gray2: #999;
$coa-color-gray: #EDEDED;
$coa-color-light-gray: #F7F9FA;

$coa-color-red: #D0021B;
$coa-color-orange: #D84805;
$coa-color-pale-orange: #FAF3D1;
$coa-color-yellow-metal: #6B5A39;

$coa-color-white: #FFFFFF;
$coa-color-primary: #244a63;
$coa-color-primary-active: #183243;



// LAYOUT

$nav-wrapper-width: 160px;
$header-height: 89px;
$secondary-header-height: 112px;

$edit-page-tab-bar-top: 200px;
