// COLORS
$coa-color-dark-blue: #023654;
$coa-color-light-blue: #3282af;
$coa-color-lightest-blue: #d1ecf1;

$wagtail-turquoise: #43b1b0;
$wagtail-dark-turquoise: #358c8b;

$coa-color-darkest-gray: #333;
$coa-color-dark-gray: #4a4a4a;
$coa-color-dark-gray2: #999;
$coa-color-gray: #ededed;

$coa-color-red: #d0021b;
$coa-color-orange: #d84805;

$coa-color-white: #ffffff;
$coa-color-primary: #6b1a68;
$coa-color-primary-active: #a913a5;

// LAYOUT

$nav-wrapper-width: 140px;
$header-height: 89px;
$secondary-header-height: 112px;

$edit-page-tab-bar-top: 200px;
