{% load debug_tags %}

<ul class="objects">
  {% get_style_guide_url content_type=content_type as style_guide_url %}
      {{style_guide_url}}
    {% for child in self.children %}

        <li class="object {{ child.classes|join:" " }}">
            {% if child.heading %}
                <h2>
                    <label {% if child.id_for_label %}for="{{ child.id_for_label }}"{% endif %}>
                        {{ child.heading }}
                    </label>
                        <a href="{{style_guide_url}}#{{ child.classname }}" target="sidebar-iframe" class="icon-help-inverse" aria-hidden="true"></a>
                </h2>
            {% endif %}
            <div class="object-layout">
              {% comment %}
              removing default wagtail help thing unless we need it later
                {% if child.help_text %}
                <div class="object-layout_small-part">
                    <div class="object-help help"><span class="icon-help-inverse" aria-hidden="true"></span>{{ child.help_text }}</div>
                </div>
                {% endif %}
                {% endcomment %}
                <div class="object-layout_big-part">
                    {{ child.render_as_object }}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
