*.DS_Store
__pycache__/
*.pyc
*.sqlite3
.vscode/
venv
.idea/*
!.idea/runConfigurations/*
*node_modules
*webpack_bundles
*webpack-stats.json
local
media/*/*.jpg
media/*/*.png
media/*/*.jpeg
*.log
joplin/db/smuggler/*
env.sh
