*.DS_Store
__pycache__/
*.pyc
*.sqlite3
.vscode/
venv
.idea/*
.idea/runConfigurations/*
*node_modules
*webpack_bundles
*webpack-stats.json
media/documents/*
media/images/*
media/original_images/*
*.log
joplin/db/smuggler/*
env.sh
.env
yarn.lock
.pytest_cache/

# Temporary datadumps
joplin/db/system-generated/tmp.datadump.json

# test & coverage stuff
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Local dev tools
local
joplin/base/management/commands/sandbox.py
