[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
locustio = "==0.13.1"

[packages]
wagtail = "==2.8"
django-cors-headers = "==2.2.0"
django-extensions = "==2.1.9"
django-filter = "==2.1.0"
django-modeltranslation = "==0.13.1"
coa-wagtail-modeltranslation = "==0.10.6"
dj-database-url = "==0.5.0"
graphene-django = "==2.6.0"
gunicorn = {extras = ["gevent"],version = "*"}
heroku3 = "==3.3.0"
django-webpack-loader = "==0.6.0"
boto3 = "==1.9.94"
django-storages = "==1.6.6"
django-dbbackup = "==3.2.0"
django-smuggler = "==0.9.1"
PyYAML = ">=4.2b1"
django-session-security = "==2.6.5"
django-phonenumber-field = "==3.0.1"
phonenumberslite = "==8.10.16"
django-debug-toolbar = "==2.0"
coa-django-countable_field = "==1.6"
django-flags = "*"
pympler = "*"
psycopg2 = "==2.8.4"
wagtail-factories = "==2.0.0"
scout-apm = "==2.11.0"
django-silk = "*"
l18n = "*"
greenlet = "*"
psycogreen = "*"
django-postgrespool2 = "*"
wagtail-react-streamfield = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-factoryboy = "*"
coverage = "*"
django-coverage-plugin = "*"
pytest-cov = "*"
snapshottest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
