[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wagtail = "==2.6.1"
django-cors-headers = "==2.2.0"
django-extensions = "==2.1.9"
django-filter = "==2.1.0"
django-modeltranslation = "==0.13.1"
wagtail-modeltranslation = "==0.10.2"
dj-database-url = "==0.5.0"
graphene-django = "==2.2.0"
gunicorn = "==19.8.1"
heroku3 = "==3.3.0"
psycopg2-binary = "==2.7.4"
django-webpack-loader = "==0.6.0"
boto3 = "==1.9.94"
django-storages = "==1.6.6"
django-dbbackup = "==3.2.0"
django-smuggler = "==0.9.1"
PyYAML = ">=4.2b1"
# pygraphviz = "*" # Breaks on OSX/undockerized
django-session-security = "==2.6.5"
django-phonenumber-field = "==3.0.1"
phonenumberslite = "==8.10.16"
django-debug-toolbar = "==2.0"
django-countable-field = {editable = true,git = "https://github.com/cityofaustin/django-countable-field"}
django-flags = "*"

[requires]
python_version = "3.7"
