[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
locustio = "==0.13.1"

[packages]
wagtail = "==2.7"
django-cors-headers = "==2.2.0"
django-extensions = "==2.1.9"
django-filter = "==2.1.0"
django-modeltranslation = "==0.13.1"
coa-wagtail-modeltranslation = "==0.10.6"
dj-database-url = "==0.5.0"
graphene-django = "==2.6.0"
gunicorn = "==19.8.1"
heroku3 = "==3.3.0"
django-webpack-loader = "==0.6.0"
boto3 = "==1.9.94"
django-storages = "==1.6.6"
django-dbbackup = "==3.2.0"
django-smuggler = "==0.9.1"
PyYAML = "==5.1.2"
django-session-security = "==2.6.5"
django-phonenumber-field = "==3.0.1"
phonenumberslite = "==8.10.16"
django-debug-toolbar = "==2.0"
django-flags = "==4.2.4"
psycopg2 = "==2.8.4"
wagtail-factories = "==2.0.0"
scout-apm = "*"
django-silk = "*"
aniso8601 = "==7.0.0"
beautifulsoup4 = "==4.6.0"
botocore = "==1.12.253"
certifi = "==2019.9.11"
chardet = "==3.0.4"
django-modelcluster = "==4.4"
django-taggit = "==0.24.0"
django-treebeard = "==4.3"
djangorestframework = "==3.10.3"
docutils = "==0.15.2"
draftjs-exporter = "==2.1.7"
factory-boy = "==2.12.0"
graphene = "==2.1.8"
graphql-core = "==2.2.1"
graphql-relay = "==2.0.0"
html5lib = "==1.0.1"
idna = "==2.8"
jmespath = "==0.9.4"
promise = "==2.2.1"
psycopg2-binary = "==2.7.4"
python-dateutil = "==2.6.0"
pytz = "==2019.3"
requests = "==2.22.0"
s3transfer = "==0.2.1"
simplejson = "==3.3.1"
singledispatch = "==3.4.0.3"
six = "==1.12.0"
sqlparse = "==0.3.0"
text-unidecode = "==1.3"
urllib3 = "==1.25.6"
webencodings = "==0.5.1"
coa-django-countable-field = "==1.6"
Pympler = "*"
Babel = "==2.7.0"
Django = "==2.2.6"
Faker = "==2.0.4"
Pillow = "==6.2.1"
Rx = "==1.6.1"
Unidecode = "==1.1.1"
Willow = "==1.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
