@import '../../css/variables';

.ChooseTitleStep__input-label {
  display: flex;
  width: 100%;
  font-weight: normal;
}

.ChooseTitleStep__input-label--left {
  flex: 1;
  width: 50%;
  text-align: left;
}

.ChooseTitleStep__input-label--right {
  flex: 1;
  width: 50%;
  text-align: right;
}

.ChooseTitleStep__input-label--red {
  color: $coa-color-red;
}

.ChooseTitleStep__input-help {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 10px 0 30px;
  display: block;
}

.ChooseTitleStep__bullet-list {
  padding-left: 20px;
}

.ChooseTitleStep__bullet-list li {
  font-size: 14px;
  text-align: left;
  list-style: disc;
}
