@import '../../css/variables';

.ChooseTypeStep__options-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.ChooseTypeStep__option {
    border: 1px solid #ededed;
    margin: 1px;
    cursor: pointer;
    flex: 1 0 48%;
    // max-width: calc(100% * (1 / 2) - 2px);
    // For some reason this was broken, the 24 feels magic numbery but it works for now
    max-width: calc(100% * 0.5 - 24px);
    text-align: center;
    color: #4a4a4a;
    padding: 0px 10px 0px;
    background: #ffffff;
}

.ChooseTypeStep__option:hover {
    background: $coa-color-gray;
}

.ChooseTypeStep__option-header {
    font-size: 14px;
    font-weight: bold;
}

.CreateContentModal__content_or_topic {
    a {
        color: #0050d8;
        text-decoration: underline;
    }
    text-align: left;
    margin-bottom: 1rem;
    padding-left: 0.2rem;
}

.CreateContentModal__content_or_topic--padding {
    display: inline;
    padding-left: 1rem;
}
