{% extends "wagtailadmin/pages/create.html" %}
{% load wagtailadmin_tags %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block titletag %}{% blocktrans with page_type=content_type.model_class.get_verbose_name %}New {{ page_type }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}page-editor create model-{{ content_type.model }}{% endblock %}

{% block content %}
    {% render_bundle 'editor' %}
    {% get_style_guide_url content_type=content_type as style_guide_url %}
    <input type="hidden" id="style_guide_url" name="style_guide_url" value="{{ style_guide_url }}">
    <div class="header secondary coa-header--secondary">
        <div>
            <div class="create_page_header">
              <div class="left col9 header-title">
                  <h1 class="icon icon-doc-empty-inverse">
                  {% trans 'New' %} <span>{{ content_type.model_class.get_verbose_name }}</span></h1>
              </div>
            </div>
        </div>

        <div class="actions">
            <div class="dropdown dropup dropdown-button match-width">
                <button type="submit" class="button action-save button-longrunning editor__save-button" tabindex="3" data-clicked-text="{% trans 'Saving…' %}"><span class="icon icon-spinner"></span><em>{% trans 'Save draft' %}</em></button>
                <div class="dropdown-toggle icon icon-arrow-up"></div>
                <ul role="menu">
                    {% if parent_page_perms.can_publish_subpage %}
                        <li>
                            <button type="submit" name="action-publish" value="action-publish" class="button button-longrunning" tabindex="3" data-clicked-text="{% trans 'Publishing…' %}" {% if page.locked %}disabled {% endif %}><span class="icon icon-spinner"></span><em>{% trans 'Publish' %}</em></button>
                        </li>
                    {% endif %}
                    <li><input type="submit" name="action-submit" value="{% trans 'Submit for moderation' %}" class="button" /></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="flex-container">
      <div class="edit-page-form-container">
        {{ block.super }}
      </div>

      {% include "wagtailadmin/shared/sidebar-preview.html" %}

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}
