{% extends "wagtailadmin/pages/create.html" %}

{% load wagtailadmin_tags %}
{% load i18n %}
{% load l10n %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $(function(){
            // Populate create new page fields when a user comes from the wizard
            if(localStorage.wagtailCreateModal) {
              var modalState = JSON.parse(localStorage.wagtailCreateModal);
              $("#id_topic").val(modalState.topic);
              $("#id_title").val(modalState.title);
              localStorage.removeItem('wagtailCreateModal');
            }
        });
    </script>
{% endblock %}
