{% extends "wagtailadmin/pages/edit.html" %}

{% load render_bundle from webpack_loader %}
{% load wagtailadmin_tags %}
{% load joplin_tags %}
{% load i18n %}
{% load l10n %}
{% block titletag %}{% blocktrans with title=page.get_admin_display_title page_type=content_type.model_class.get_verbose_name %}Editing {{ page_type }}: {{ title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}page-editor {% if page.live %}page-is-live{% endif %} model-{{ content_type.model }} {% if page.locked %}page-locked{% endif %}{% endblock %}

{% block content %}
    {% render_bundle 'editor' %}
    {% get_style_guide_url content_type=content_type as style_guide_url %}
    {% page_permissions page as page_perms %}
    <input type="hidden" id="style_guide_url" name="style_guide_url" value="{{ style_guide_url }}">
    <input type="hidden" id="preview_url" name="preview_url" value="{{page.janis_preview_url}}">
    <div class="header secondary">
        <div>
            <h1 class="edit_page_header">
                <span class="coa-page-action">Edit</span>
                <span class="page_title">{{ page.draft_title }}</span>
            </h1>
        </div>

        <div class="actions">
            <div>
                <div>See <a href="{% url 'wagtailadmin_pages:revisions_index' page.id %}" class="underlined">All Revisions</a></div>
            </div>

            <!-- SHARE -->
            <div>
                <button id="page-share-preview-button" type="submit" form="page-edit-form" class="button action-save button-longrunning icon icon-view {% if is_revision %}warning{% endif %}" data-clicked-text="{% trans 'Saving…' %}" {% if page.locked %}disabled {% endif %}>
                  <span class="icon icon-spinner"></span>
                  <em>
                    {% if page.locked %}
                      {% trans 'Page locked' %}
                    {% else %}
                      {% if is_revision %}
                        {% trans 'Replace current draft' %}
                      {% else %}
                        {% trans 'Share' %}
                      {% endif %}
                    {% endif %}
                  </em>
                </button>
                <div id="page-share-url-copied" class="hidden">
                  Preview URL copied to clipboard.
                </div>
            </div>

            <!-- PREVIEW -->
            <div>
                <button id="page-preview-button" type="submit" form="page-edit-form"
                  class="button action-save button-longrunning {% if is_revision %}warning{% endif %}"
                  data-clicked-text="{% trans 'Saving…' %}"
                  {% if page.locked %}disabled {% endif %}
                >
                  <span class="icon icon-spinner"></span>
                  <em>
                    {% if page.locked %}
                      {% trans 'Page locked' %}
                    {% else %}
                      {% if is_revision %}
                        {% trans 'Replace current draft' %}
                      {% else %}
                        {% trans 'Preview' %}
                      {% endif %}
                    {% endif %}
                  </em>
                </button>
            </div>


            <!-- SAVE DRAFT -->
            <div class="dropdown dropdown-button {% if is_revision %}warning{% endif %}">
              <div>
                <button type="submit" form="page-edit-form" class="button action-save button-longrunning {% if is_revision %}warning{% endif %} editor__save-button"
                  data-clicked-text="{% trans 'Saving…' %}" {% if page.locked %}disabled {% endif %}>
                  <span class="icon icon-spinner"></span>
                  <em>
                    {% if page.locked %} 
                      {% trans 'Page locked' %} 
                    {% else %} 
                      {% if is_revision %} 
                        {% trans 'Replace current draft' %} 
                      {% else %} 
                        {% trans 'Save draft' %} 
                      {% endif %} 
                    {% endif %}
                  </em>
                </button>
              </div>

              {% if not page.locked %}
              <div class="dropdown-toggle icon icon-arrow-down"></div>
              <ul role="menu">
                {% if page_perms.can_publish %}
                <li>
                  <button type="submit" name="action-publish" form="page-edit-form" value="action-publish" class="button button-longrunning {% if is_revision %}warning{% endif %}"
                    tabindex="3" data-clicked-text="{% trans 'Publishing…' %}" {% if page.locked %}disabled {% endif %}>
                    <span class="icon icon-spinner"></span>
                    <em>{% if is_revision %}{% trans 'Publish this revision' %}{% else %}{% trans 'Publish' %}{% endif %}</em>
                  </button>
                </li>
                {% endif %} {% if not is_revision and page_perms.can_delete %}
                <li>
                  <a href="{% url 'wagtailadmin_pages:delete' page.id %}" class="shortcut">{% trans 'Delete' %}</a>
                </li>
                {% endif %} {% if not is_revision and page_perms.can_unpublish %}
                <li>
                  <a href="{% url 'wagtailadmin_pages:unpublish' page.id %}">{% trans 'Unpublish' %}</a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
        </div>
    </div>

    <div class="flex-container">
      <div class="edit-page-form-container">
        {{ block.super }}
      </div>
      <div class="sidebar-container">
        <div class="fixed-content">
          <div class="thumbnail-container">
            <div class="thumbnail">
              <iframe name="sidebar-iframe" frameborder="0" onload="this.style.opacity = 1" src="{{style_guide_url}}"></iframe>
            </div>
          </div>
          <div class="sidebar-buttons">
            <div class="sidebar-button-container">
              <a class="button sidebar-button" href="{{style_guide_url}}" target="sidebar-iframe">Style Guide</a>
            </div>
            <div class="sidebar-button-container">
              <a class="button sidebar-button" href="{{page.janis_preview_url}}" target="sidebar-iframe">Preview</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
