{% extends "wagtailadmin/pages/edit.html" %}

{% load i18n %}
{% load wagtailadmin_tags %}

{% block content %}
    <div class="header secondary">
        <div>
            <h1 class="edit_page_header">
                Edit
                <span class="page_type">{{ content_type.model_class.get_verbose_name }}</span>
                <span class="page_title">{{ page.get_admin_display_title }}</span>
            </h1>
        </div>

        <div class="actions">
            <div>
                <div>
                    Last modified <span class="time">{{ page.get_latest_revision.created_at }}</span>
                </div>
                <div>See <a href="{% url 'wagtailadmin_pages:revisions_index' page.id %}" class="underlined">all revisions</a></div>
            </div>
            <div>
                {% auto_update_preview as auto_update %}
                <button class="button action-preview icon icon-view secondary"
                    data-action="{% url 'wagtailadmin_pages:preview_on_edit' page.id %}{% if mode %}?mode={{ mode|urlencode }}{% endif %}"
                    data-auto-update="{{ auto_update|yesno:'true,false' }}">
                    Preview
                </button>
            </div>
            <div>
                <button class="button icon icon-tick secondary js-proxy-click" data-proxy-by-class="action-save">Save Draft</button>
            </div>
            <div>
                <button class="button button-longrunning icon icon-doc-empty js-proxy-click" data-clicked-text="{% trans 'Publishing…' %}" data-proxy-by-name="action-publish">Publish</button>
            </div>
        </div>
    </div>

    {{ block.super }}

    <div class="preview-container">
        <div class="thumbnail-container">
            <ul class="tab-nav">
                <li><a>Preview</a></li>
                <li class="active"><a>Style Guide</a></li>
            </ul>
            <div class="thumbnail">
                <iframe frameborder="0" onload="this.style.opacity = 1" src="https://cityofaustin.github.io/digital-services-style-guide/introduction/"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
