{% extends "wagtailadmin/pages/edit.html" %}

{% load wagtailadmin_tags %}
{% load joplin_tags %}
{% load i18n %}
{% load l10n %}
{% block titletag %}{% blocktrans with title=page.get_admin_display_title page_type=content_type.model_class.get_verbose_name %}Editing {{ page_type }}: {{ title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}page-editor {% if page.live %}page-is-live{% endif %} model-{{ content_type.model }} {% if page.locked %}page-locked{% endif %}{% endblock %}

{% block content %}
    {% get_preview_url revision=page.get_latest_revision page_type=content_type.model_class.get_verbose_name as preview_url %}
    <script type="text/javascript">
        $(function() {
            var editform = $('#page-edit-form');
            var previewbutton = $('#page-preview-button');

            if(localStorage.previewing === 'true') {
                window.open("{{preview_url}}", '_blank');
                localStorage.previewing = false;
            }

            previewbutton.click(function() {
                localStorage.previewing = true;
            });
        })
    </script>


    <div class="header secondary">
        <div>
            <h1 class="edit_page_header">
                Edit
                <span class="page_type">{{ content_type.model_class.get_verbose_name }}</span>
                <span class="page_title">{{ page.get_admin_display_title }}</span>
            </h1>
        </div>

        <div class="actions">
            <div>
                <div>
                    Last modified <span class="time">{{ page.get_latest_revision.created_at }}</span>
                </div>
                <div>See <a href="{% url 'wagtailadmin_pages:revisions_index' page.id %}" class="underlined">all revisions</a></div>
            </div>
            <div>

            
            <a href="{{preview_url}}" class="button icon icon-view secondary">Share</a>

            </div>
            <div>
                <button id="page-preview-button" type="submit" form="page-edit-form" class="button action-save button-longrunning {% if is_revision %}warning{% endif %}" data-clicked-text="{% trans 'Saving…' %}" {% if page.locked %}disabled {% endif %}><span class="icon icon-spinner"></span><em>{% if page.locked %}{% trans 'Page locked' %}{% else %}{% if is_revision %}{% trans 'Replace current draft' %}{% else %}{% trans 'Preview' %}{% endif %}{% endif %}</em></button>
            </div>
            <div>
                <button type="submit" form="page-edit-form" class="button action-save button-longrunning {% if is_revision %}warning{% endif %}" data-clicked-text="{% trans 'Saving…' %}" {% if page.locked %}disabled {% endif %}><span class="icon icon-spinner"></span><em>{% if page.locked %}{% trans 'Page locked' %}{% else %}{% if is_revision %}{% trans 'Replace current draft' %}{% else %}{% trans 'Save draft' %}{% endif %}{% endif %}</em></button>
            </div>
            <div>
                <button class="button icon icon-doc-empty">Publish</button>
            </div>
        </div>
    </div>

    {{ block.super }}
{% endblock %}
