{% extends "wagtailadmin/pages/index.html" %}
{% load wagtailadmin_tags staticfiles i18n %}

{% block content %}
    <div class="header secondary">

        <div>
            <h1>👀Pages</h1>
        </div>

        <div>
            <!-- From wagtail/admin/templates/wagtailadmin/shared/menu_search.html -->
            <form class="nav-search" action="{% url 'wagtailadmin_pages:search' %}" method="get">
                <div>
                    <label for="menu-search-q">{% trans "Search" %}</label>
                    <input type="text" id="menu-search-q" name="q" placeholder="{% trans 'Search' %}" />
                    <button class="button" type="submit">{% trans "Search" %}</button>
                </div>
            </form>
        </div>

        <div class="actions">
          <!-- <div> -->
            <!-- Button trigger modal -->
            <button type="button" class="button" data-toggle="modal" data-target="#createNewContentModal">
              Create New Content
            </button>
          <!-- </div> -->
        </div>

    </div>
    {{ block.super }}
{% endblock %}
