{% load i18n %}

<div class="header secondary coa-search-header ">

    <div>
        <h1 class="coa-search-results-h1">
          Pages
        </h1>
    </div>

    <div>
        <!-- From wagtail/admin/templates/wagtailadmin/shared/menu_search.html -->
        {% if search_url %}
            <form class="col search-form nav-search" action="{% url search_url %}{% if query_parameters %}?{{ query_parameters }}{% endif %}" method="get" novalidate>
                <ul class="fields">
                    {% for field in search_form %}
                        {% include "wagtailadmin/shared/field_as_li.html" with field=field field_classes="field-small iconfield" input_classes="icon-search" %}
                    {% endfor %}
                    <li class="submit visuallyhidden"><input type="submit" value="Search" class="button" /></li>
                </ul>
            </form>
        {% endif %}
        <!-- <form class="nav-search" action="{% url 'wagtailadmin_pages:search' %}" method="get">
            <div>
                <label for="menu-search-q">{% trans "Search" %}</label>
                <input type="text" id="menu-search-q" name="q" placeholder="{% trans 'Search' %}" />
                <button class="button" type="submit">{% trans "Search" %}</button>
            </div>
        </form> -->
    </div>

    <div class="actions">
      <!-- <div> -->
        <!-- Button trigger modal -->
        <button type="button" class="button" data-toggle="modal" data-target="#createNewContentModal">
          Create New Content
        </button>
      <!-- </div> -->
    </div>
</div>
