.coa-header { // change name coa-application-banner(NOTE: this will effect old styles)
  background-color: $coa-background-color !important;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.coa-seal {
  display: block;
  padding: 32px;
  width: 50px;
  height: 50px;
}
.coa-easter-egg {
  position: absolute;
  top: 49px;
  left: 52px;
  min-width: 10px;
  min-height: 10px;
}

// User / Account DROPDOWN
.coa-account-dropdown {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 100%;
}
.coa-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 3px solid $coa-blue;
}
.coa-user-name {
  display: inline-block;
  padding: 16px;
  line-height: 16px;
  margin-left: 12px;
  margin-right: 0px;
  font-weight: bold;
  color: $coa-text-color;
  text-transform: none;
  background-color: $coa-background-color-secondary;
  border-radius: $coa-border-radius;
}
