// Font and Sizes
$coa-font-family: 'Medium IBM Plex Sans', sans-serif;
$coa-line-hight: 1rem;
$coa-font-weight: bold;

$coa-font-size-md: 1rem;
$coa-font-size-sm-icon: 1.25rem;

// Colors
$coa-blue: #0050D8;
$coa-text-color: #2D2E2F; // coa-font-dark
$coa-border-color: #DCDEE0; // just make "coa-light-gray"
$coa-background-color: #FFFFFF; // just make "coa-white"
$coa-background-color-secondary: #F9F9F9; // just make "coa-off-white"

// Padding and Margins
$coa-active-left-boarder-width: 7px;

// Left sidebar nav !(Should be specifc CSS - MOVE out)
$nav-wrapper-width: 180px;

// misc...
$coa-button-border-radius: 4px;
$coa-transparent: rgba(0,0,0,0);
$coa-transition-delay: 0.3s;
