// Types
$coa-fontFamily: 'Medium IBM Plex Sans', sans-serif;
$coa-fontSize-md: 1rem;
$coa-fontSize-sm-icon: 1.25rem;

// Colors
$coa-blue: #0050D8;
$coa-text-color: #2D2E2F; // coa-font-dark
$coa-border-color: #DCDEE0; // just make "coa-light-gray"
$coa-background-color: #FFFFFF; // just make "coa-white"
$coa-background-color-secondary: #F9F9F9; // just make "coa-off-white"

// Sizes
$coa-active-left-boarder-width: 7px;

// Left sidebar nav
$nav-wrapper-width: 180px;

// misc...
$coa-border-radius: 4px;
