{% load i18n %}
{% comment %}

    Variables accepted by this template:

    title
    subtitle

    search_url - if present, display a search box. This is a URL route name (taking no parameters) to be used as the action for that search box
    query_parameters - a query string (without the '?') to be placed after the search URL

    icon - name of an icon to place against the title

    tabbed - if true, add the classname 'tab-merged'
    merged - if true, add the classname 'merged'

    add_link - if present, display an 'add' button. This is a URL route name (taking no parameters) to be used as the link URL for the button
    add_text - text for the 'add' button
{% endcomment %}

<div class="header secondary">

    <div>
        <h1 class="coa-search-results-h1">
          Pages
        </h1>
    </div>

    <div>
        <!-- From wagtail/admin/templates/wagtailadmin/shared/menu_search.html -->
        <form class="nav-search" action="{% url 'wagtailadmin_pages:search' %}" method="get">
            <div>
                <label for="menu-search-q">{% trans "Search" %}</label>
                <input type="text" id="menu-search-q" name="q" placeholder="{% trans 'Search' %}" />
                <button class="button" type="submit">{% trans "Search" %}</button>
            </div>
        </form>
    </div>

    <div class="actions">
      <!-- <div> -->
        <!-- Button trigger modal -->
        <button type="button" class="button" data-toggle="modal" data-target="#createNewContentModal">
          Create New Content
        </button>
      <!-- </div> -->
    </div>

</div>
