{% if page.status_string == "Live" %}
    <a href="{{ page.janis_publish_url }}" target="_blank" class="underlined">Live</a>
{% elif page.status_string == "Draft" %}
    <a href="{{ page.janis_preview_url }}" class="underlined">Draft</a>
{% elif page.status_string == "Live + Publishing" %}
    <div class="coa-header__page-status-value"><a href="{{ page.janis_publish_url }}" target="_blank" class="underlined">Live</a> + Publishing</div>
{% elif page.status_string == "Live + Draft" %}
    <div class="coa-header__page-status-value"><a href="{{ page.janis_publish_url }}" target="_blank" class="underlined">Live</a> + <a href="{{ page.janis_preview_url }}" class="underlined">Draft</a></div>
{% elif page.status_string == "Publishing" %}
    <div class="coa-header__page-status-value">Publishing</div>
{% elif page.status_string == "Live + Unpublishing" %}
    <div class="coa-header__page-status-value"><a href="{{ page.janis_publish_url }}" target="_blank" class="underlined">Live</a> + Unpublishing</div>
{% endif %}
