// COA Global Header

.coa-header {
    display: flex;
    padding: 0.75rem;
    background: $coa-color-darkest-gray;
    position: fixed;
    z-index: 4;
    width: 100%;
}

.coa-user {
    color: $coa-color-lightest-blue;
    padding-left: 10px;
    font-size: 14px;
}

// COA Secondary Header

.header.secondary {
    width: calc(100% - #{$nav-wrapper-width});
    background: $coa-color-gray;
    position: fixed;
    height: 80px;
    padding: 1rem 1.5rem;
    z-index: 3;
    display: flex;
    h1 {
        color: $coa-color-orange;
        text-transform: capitalize;
        font-style: italic;
    }
}

// Header Actions section

.header .actions {
    display: flex;
    margin: 0 40px auto auto;
}

.secondary-actions {
    width: calc(100% - #{$nav-wrapper-width});
    background: #e5e4de;
    position: fixed;
    z-index: 30;
    display: flex;
    top: $edit-page-tab-bar-top;
    padding-left: 1rem;
    height: 40px;
}
