// COA Global Nav (left sidebar)
.wrapper {
  padding-top: $header-height;
  padding-left: $nav-wrapper-width;
  height: inherit;
}
.nav-wrapper,
.nav-wrapper .inner {
  width: $nav-wrapper-width;
  background-color: $coa-background-color-secondary;
  padding-top: 1px;
  border-top: solid $coa-border-color 2px;
  border-right: solid $coa-border-color 2px;
}

.nav-main {
  position: static;
  overflow: hidden;
  // background-color: $coa-background-color-secondary;
}
// .nav-wrapper {
//   width: $nav-wrapper-width;
// }

.nav-main * {
  color: $coa-text-color;
  font-size: $coa-fontSize-md;
}

.nav-main .menu-item a::before {
  // font-size: 2rem;
  color: $coa-text-color;
  font-size: $coa-fontSize-sm-icon;
}

.nav-main .menu-item > a {
  border-left: solid $coa-background-color-secondary $coa-active-left-boarder-width;
}

.nav-main .menu-active > a {
  border-left: solid $coa-blue $coa-active-left-boarder-width;
  background-color: $coa-background-color-secondary;
  text-shadow: none;
}

.nav-main a {
  padding-left: 10px;
}

.nav-main .footer {
  display: none;
}

.nav-main .menu-item {
  .icon-home:before {
      content: 'description';
  }
  .icon-maps:before {
      content: 'map';
  }
  .icon-locations:before {
      content: 'location_on';
  }
  .icon-image:before {
      content: 'photo';
  }
  .icon-contacts:before {
      content: 'perm_contact_calendar';
  }
  .icon-users:before {
      content: 'account_circle';
  }
  .icon-doc-full-inverse:before {
      content: 'description';
  }
  .icon-settings:before {
      content: 'settings_applications';
  }
}

.nav-main .menu-item .material-icons span {
  font-family: $coa-fontFamily;
}
