{% load joplin_tags %}
{% load staticfiles wagtailadmin_tags %}

<!-- Modal -->
<div class="modal fade" id="createNewContentModal" tabindex="-1" role="dialog" aria-labelledby="createNewContentModalLabel">
  <div class="js-create-content-wizard-form create-content-modal-wrapper">
    <div class="modal-dialog" role="document">
      <div class="modal-content create-content-modal">
        <div class="modal-body">
          <div class="js-wizard-step content-modal__step--active" data-active="true">
            <h2 class="content-modal__header">Select the Content Type</h2>
            <div class="content-modal__type-options-wrapper">
              <div class="content-modal__type-option js-page-select"
                data-content-type="service"
                data-redirecturl="/admin/pages/add/base/servicepage/3/"
              >
                <img class="content-modal__type-icons"
                  src="{% static 'images/service_page_icon.svg' %}"
                  alt="Service Page"
                />
                <h3 class="content-modal__type-option-header">Service Page</h3>
                <p>A step by step guide to a particular city service.</p>
              </div>
              <div class="content-modal__type-option js-page-select"
                data-content-type="process"
                data-redirecturl="/admin/pages/add/base/processpage/3/"
              >
                <img class="content-modal__type-icons"
                  src="{% static 'images/process_page_icon.svg' %}"
                  alt="Service Page"
                />
                <h3 class="content-modal__type-option-header">Process Page</h3>
                <p>Processes which require several steps, which may not go in order</p>
              </div>
              <div class="content-modal__type-option js-page-select"
                data-content-type="department"
                data-redirecturl="/admin/snippets/base/department/add/"
              >
                <h3 class="content-modal__type-option-header">Department Page</h3>
                <p>Basic information and contact details for a department.</p>
              </div>
            </div>
          </div>

          <div class="js-wizard-step content-modal__step--inactive" data-active="false">
            <h2>Select the Content Type</h2>
            <small>Character limit: 54</small>
            <label for="page-title">Page Title</label>
            <input type="text" id="page-title">
            <small>Example: Drop off hazardous wastes and other recyclables</small>
            <ul>
              <li>Use simple, accessible language</li>
              <li>Use words you think residents may search to find the service</li>
              <li>You don’t need to worry about including your department’s name in the title</li>
            </ul>

            <div class="modal-button-row">
              <div class="button js-back">Back</div>
              <button type="button" class="button" data-dismiss="modal">Close</button>
              <div class="button js-continue">Continue</div>
            </div>
          </div>

        </div>
          <div class="js-wizard-step content-modal__step--inactive" data-active="false">
            <h2>Select the topic  which best fits your content.</h2>
            {% themes_topics_tree %}
            <div class="modal-button-row" style="display: block;">
              <div class="button js-back">Back</div>
              <button type="button" class="button" data-dismiss="modal">Close</button>
              <div class="button js-continue js-select-topic" data-dismiss="modal">Continue</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/create-content-modal.js' %}"></script>
