{% load staticfiles wagtailadmin_tags %}
{% load i18n %}

{% block js %}

<div id="coa-application_banner" class="header coa-header" style="display: none;">
  <div>
    <img class="coa-seal wagtail-logo wagtail-logo__full" src="{% static 'images/coa_seal_transparent_color.png' %}" alt="Welcome to City of Austin CMS" width="60" />
    <div class="coa-easter-egg" onclick="toggleJoplinUI()"></div>
  </div>
  <div class="dropdown user-account coa-account-navigation">
    <div class="dropdown-toggle">
      <div class="user-account">
        <div class="avatar circle coa-avatar"><img src="{% avatar_url user %}" alt="avatar" /></div>
        <div class="user user-account-dropdown coa-user-name" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ request.user.first_name }} {{ request.user.last_name }}
          <!-- <span class="icon icon-arrow-down-after coa-user-dropdown-arrow"></span> -->
          <img class="coa-user-dropdown-arrow" src="/static/images/icon_down_arrow.svg" alt="Down Arrow Icon">
          <ul class="coa-user-dropdown-menu" aria-labelledby="user-account-dropdown">
            <li><a href="{% url 'wagtailadmin_account' %}" >{% trans "Account settings" %}</a></li>
            <li><a href="{% url 'wagtailadmin_logout' %}" >{% trans "Log out" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  /* 🚨
    ONLY USED FOR JOPLIN_UI TRANSTION PERIOD
  👇 */
  console.log("component :", "{{component}}" )
  if (window.localStorage.joplinUI == "on") {
    const joplinUI = document.getElementById("coa-application_banner")
    joplinUI.style.display = "block"
    const oldUI = document.getElementById("coa-old_application_banner")
    oldUI.style.display = "none"
    oldUI.innerHTML = ""
    oldUI.innerHTML = null
  }
  // 🚨END

</script>


{% endblock %}
