{# NOTE: This template was added("copy/pasted") from the wagtail library #}

{% load staticfiles wagtailadmin_tags %}
{% load i18n %}

{% block js %}

<div id="coa-application_banner" class="header coa-header" style="display: none;">
  <div>
    <img class="coa-seal wagtail-logo wagtail-logo__full" src="{% static 'images/coa_seal_transparent_color.png' %}" alt="Welcome to City of Austin CMS" width="60" />
    <div class="coa-easter-egg" onclick="toggleJoplinUI()"></div>
  </div>
  <div class="dropdown user-account coa-account-navigation">
    <div class="dropdown-toggle">
      <div class="user-account">
        <div class="avatar circle coa-avatar"><img src="{% avatar_url user %}" alt="avatar" /></div>
        <div class="user user-account-dropdown coa-user-name" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ request.user.first_name }} {{ request.user.last_name }}
          <img class="coa-user-dropdown-arrow" src="/static/images/icon_down_arrow.svg" alt="Down Arrow Icon">
          <!-- ☝️Using the SVG here in place of -icons because animations are flighty and whimiscal with -icons. -->
          <ul class="coa-user-dropdown-menu" aria-labelledby="user-account-dropdown">
            <li><a href="{% url 'wagtailadmin_account' %}" >{% trans "Account settings" %}</a></li>
            <li><a href="{% url 'wagtailadmin_logout' %}" >{% trans "Log out" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// 🚨ONLY USED FOR JOPLIN_UI TRANSTION PERIOD👇
const toggleJoplinUI = function() {
  if (window.ISPRODUCTION === "False") {
    if (localStorage.joplinUI === 'on') {
      localStorage.joplinUI = 'off'
    } else {
      localStorage.joplinUI = 'on'
    }
    window.location.reload()
  }
}
// 🚨END

</script>

{% endblock %}
