{# NOTE: This template was added("copy/pasted") from the wagtail library #}

{% load staticfiles wagtailadmin_tags %}
{% load i18n %}

{% block content %}

<aside id="coa-primary_navigation" class="nav-wrapper" style="display: none;" data-nav-primary>
  <div class="inner">
    <a href="{% url 'wagtailadmin_home' %}" class="logo" aria-label="{% trans 'Dashboard' %}">
      {% block branding_logo %}
        {# Mobile-only logo: #}
        <div class="wagtail-logo-container__mobile u-hidden@sm">
          <img class="wagtail-logo wagtail-logo__full" src="{% versioned_static 'wagtailadmin/images/wagtail-logo.svg' %}" alt="" width="80" />
        </div>

        {# Desktop logo (animated): #}
        {% include "wagtailadmin/shared/animated_logo.html" %}
      {% endblock %}
      <span class="u-hidden@sm">{% trans "Dashboard" %}</span>
    </a>

    {% menu_search %}
    {% main_nav %}

  </div>
  <div class="explorer__wrapper" data-explorer-menu></div>
</aside>

{% endblock %}
