.full input {padding: 1em;}

.object fieldset, .object .field-content {width: 100%;}

.translation-tab .object .object-help {width: auto; opacity: 1; position: static; font-size: 1.2em;}
.translation-tab .object fieldset {padding-top: 0.5em;}

.hidden {display: none !important;}
.nav-wrapper, .nav-wrapper .inner {width: 60px; background: #023654; }
.wrapper {padding-left: 60px;}


.nav-main {position: static; overflow: hidden;}
.nav-main a {padding-left: 10px;}
.nav-main .footer {display: none;}
.nav-main .menu-item a::before {font-size: 2rem;}

.listing .actions {visibility: visible;}
.listing thead th {
    font-size: .85em;
    text-align: left;
    font-weight: 800;
    white-space: nowrap;
    text-transform: uppercase;
}

.page-explorer header, .homepage header, .page-editor header {display:none;}

joplinheader {display:flex; padding: 0.75rem; background: #023654; }
joplinheader.secondary {background: #EEE;}
joplinheader .actions {display: flex; margin: auto 0 auto auto;}
joplinheader .actions * {margin: auto 2px;}

button.button:hover {background color: #00B6CC; color: white; }
button.secondary.button-small {background-color:#fff; border-color:#3282AF;}
button.button {background-color: #00B6CC; border-color: #00B6CC; font: color: #023654; border-radius: 0px; }

.user {color: #28E8B7;}
h1 {font-family: lora; color: red; font-style: italic; text-transform: none;}
/*col headers*/
.human-readable-date {color: #4a4a4a;}
.type {color: #4a4a4a;}
.author {color: #4a4a4a; }
th.author {color: #4a4a4a; }
/*form field*/
.halloeditor, .tagit, input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border-radius: 0px;
    width: 100%;
    font-family: Open Sans,Arial,sans-serif;
    border: 1px solid #e6e6e6;
    padding: 0.5em 1.2em;
    background-color: #fafafa;
    color: #333;
    font-size: 1.2em;
    font-weight: 300;
    outline: none;
}

.menu-item.menu-active {background: #ccc;}
.menu-item {background:  #023654;}