<div
  class="coa-page-status-modal__container"
  id="coa-page-status-modal__publishing"
  tabIndex="-1"
  role="dialog"
  aria-labelledby="about-publishing"
>
  <div class="coa-page-status-modal__heading">
    <div class="coa-page-status__publishing-badge">Publishing</div>
    <span class="coa-page-status-modal__close material-icons" id="coa-page-status-modal__publishing-close">close</span>
  </div>
  <div class="coa-page-status-modal__content">
    The publishing badge means that your page has been saved and is in the process of being published. You must refresh the page to update the status. When the badge no longer displays, the page is live.
  </div>
</div>
