<div
  class="coa-page-status-modal__container"
  id="coa-page-status-modal__unpublishing"
  tabIndex="-1"
  role="dialog"
  aria-labelledby="about-unpublishing"
>
  <div class="coa-page-status-modal__heading">
      <div class="coa-page-status__publishing-badge">Unpublishing</div>
      <span class="coa-page-status-modal__close material-icons" id="coa-page-status-modal__unpublishing-close">close</span>
    </div>
    <div class="coa-page-status-modal__content">
      The unpublishing badge means that your page has been unpublished and is in the process of being removed. You must refresh the page to update the status. When the badge no longer displays the page has been removed.
    </div>
</div>
