{% extends "wagtailadmin/base.html" %}
{% load staticfiles wagtailadmin_tags %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block branding_logo %}
{% endblock %}

{% block js %}


{{ block.super }}


<script>
// passing the constant from context_processors into a JS variable (boolean)
const ISPRODUCTION = '{{ISPRODUCTION}}';
</script>
{% render_bundle 'admin' %}
{% if ISPRODUCTION == False %}
  {% render_bundle 'theme' %}
{% endif %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'publish_preflight/css/messages.css' %}">
{% include 'session_security/all.html' %}
{% comment %}
maybe there is a better way/place to pull in this script from the preflight app
also it isn't going to the folder i expect
{% endcomment %}
<script src="{% static "/publish_preflight/js/script.js" %}"></script>
<div class="header coa-header">
    <div>
        <img class="wagtail-logo wagtail-logo__full" src="{% static 'images/coa_seal_transparent_white.png' %}" alt="Welcome to City of Austin CMS" width="60" />
    </div>
    <div class="dropdown user-account">
        <div class="dropdown-toggle">
          <div class="user-account">
            <div class="avatar circle"><img src="{% avatar_url user %}" alt="avatar" /></div>
            <div class="user coa-user user-account-dropdown " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ request.user.first_name|default:request.user.get_username }}
                <span class="icon icon-arrow-down-after"></span>
                <ul class="user-account-dropdown-menu" aria-labelledby="user-account-dropdown">
                    <li><a href="{% url 'wagtailadmin_account' %}" class="icon icon-user">{% trans "Account settings" %}</a></li>
                    <li><a href="{% url 'wagtailadmin_logout' %}" class="icon icon-logout">{% trans "Log out" %}</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
