{% extends "wagtailadmin/base.html" %}
{% load butt_tags wagtailadmin_tags wagtailcore_tags staticfiles i18n %}

{% load staticfiles %}

{% block furniture %}
    <div class="nav-wrapper">
        <div class="inner">
            <div>{% menu_search %}</div>
            <a href="{% url 'wagtailadmin_home' %}" class="logo" title="Wagtail v.{% wagtail_version %}">
                {% block branding_logo %}
                    <img src="{% static 'images/logo.png' %}" alt="City of Austin" width="80" />
                {% endblock %}
                <span class="u-hidden@medium">{% trans "Dashboard" %}</span>
            </a>
            {% main_nav %}
        </div>

    </div>
    <div class="content-wrapper">
            {% block content %}{% endblock %}
            {% topics %}
    </div>
{% endblock %}
