{% extends "wagtailadmin/login.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block branding_login %}
{% if IS_PRODUCTION == False %}
  {% render_bundle 'theme' %}
Welcome to Joplin staging!
{% else %}
Welcome to Joplin!
{% endif %}
{% endblock %}

{# block included to replace Forgotten it? with Forgot it?  #}

{% block fields %}
<li class="full">
    <div class="field iconfield">
        {{ form.username.label_tag }}
        <div class="input icon-user">
            {{ form.username }}
        </div>
    </div>
</li>
<li class="full">
    <div class="field iconfield">
        {{ form.password.label_tag }}
        <div class="input icon-password">
            {{ form.password }}
        </div>
    </div>
    {% if show_password_reset %}
        <p class="help"><a href="{% url 'wagtailadmin_password_reset' %}">{% trans "Forgot it?" %}</a></p>
    {% endif %}
</li>

{% block extra_fields %}
{% for field_name, field in form.extra_fields %}gs
<li class="full">
    {{ field.label_tag }}
    <div class="field iconfield">
        {{ field }}
    </div>
</li>
{% endfor %}
{% endblock extra_fields %}

{% comment %}
    Removed until functionality exists
    <li class="checkbox">
        <div class="field">
            <label><input type="checkbox" />{% trans "Remember me" %}</label>
        </div>
    </li>
{% endcomment %}
{% endblock %}